In [ ]:
print(1+2)

3

In [ ]:
age = 18

if age < 20:
    print("お酒で乾杯！")

お酒で乾杯！

In [ ]:
print(45/13)
print(30 - 12)
print(5    *    6)
print(30 / 3)
print(45 % 8)

3.4615384615384617
18
30
10.0
5

In [ ]:
print(type(30 / 3))

<class 'float'>

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [34]:
user_TFK = "田中"
print(user_TFK)

田中

In [37]:
user_name = "田中"
print(user_name)

user_name = "成美"
print(user_name)

print(user_name)

田中
成美
成美

In [38]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name  = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [45]:
name_tfk = "東京不動産管理"
kigyou_k  = "株式会社"
kigyouf = "東急不動産"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{name_tfk }{kigyou_k }です。妹の名前は{kigyouf}です。")

私の名前は東京不動産管理株式会社です。妹の名前は東急不動産です。

In [56]:
print("降水確率" + str(50) + "％" )

降水確率50％

In [83]:
top_edge=10
under_edge=20
height =5

area=(top_edge + under_edge) * height /2

print(f"{area}cm²")

75.0cm²

In [ ]:
print("降水確率" + str(50) + "％" )

降水確率50％

In [ ]:
print("降水確率" + str(50) + "％" )

降水確率50％

In [80]:
# 台形の寸法
top_side = 10   # 上辺（cm）
bottom_side = 20  # 下辺（cm）
height = 5      # 高さ（cm）

# 台形の面積 =（上辺＋下辺）× 高さ ÷ 2
area = (top_side + bottom_side) * height / 2

# 結果を出力
print(f"{area}cm²")

75.0cm²

In [ ]:
print("降水確率" + str(50) + "％" )

降水確率50％

In [ ]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ