In [ ]:
print(1+2)

3

In [28]:
print(0  + 18) # 算術演算子を使った場合の戻り値を出力する
print(0  > 18) # 比較演算子を使った場合の戻り値を出力する

18
False

In [30]:
print(5 == 5)

True

In [41]:
num1 = 5
num2 = "5"

if num1 == int(num2):
    print("num1とnum2は等しいです")

num1とnum2は等しいです

In [134]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、3なら「当たりです」、それ以外なら「はずれです」と出力する
elif num == 3:
    print("当たりです")


if num == 4:
    print("大当たりです")

else:
    print("はずれです")

SyntaxError: invalid syntax (3399059771.py, line 11)

In [143]:
if 10 < num and num < 30:
    print("変数numは10より大きく、30より小さいです")

# 1つでも条件が成り立てば処理を行う（変数numの値が10または30）
if num == 10 or num == 30:
    print("変数numは10または30です")

In [151]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 10)

# 変数numの値を出力
print(num)

# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が2）
if 1 < num and num < 3:
    print("変数numは1より大きく、3より小さいです")
else:
    print("and条件が成り立ちませんでした")

# 1つでも条件が成り立てば処理を行う（変数numの値が1または3）
if num == 1 or num == 3:
    print("変数numは1または3です")
else:
    print("or条件が成り立ちませんでした")

3
and条件が成り立ちませんでした
変数numは1または3です

In [157]:
var = 15  # 判定したい正の整数

if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

FizzBuzz

In [ ]:
連想配列名 = {キー1: 値1, キー2: 値2, キー3: 値3, ...}

SyntaxError: ':' expected after dictionary key (707727600.py, line 1)

In [ ]:
sports = {1: "サッカー", 2: "野球", 3: "バスケット"}

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# ボールペンの価格を取り出して表示
print(stationery_prices["鉛筆"])

print(stationery_prices)

70
{'鉛筆': 70, 'ボールペン': 120, 'シャープペンシル': 150, '消しゴム': 90}

In [ ]:
sports = {1: "サッカー", 2: "野球", 3: "バスケット"}

# キー「2」の値を「バドミントン」に書き換える
sports[2] = "バドミントン"

# キー「4」として「水泳」を追加する
sports[4] = "水泳"

# 連想配列全体を取り出して表示
print(sports)

{1: 'サッカー', 2: 'バドミントン', 3: 'バスケット', 4: '水泳'}

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# 「シャープペンシル」を要素ごと削除
stationery_prices.pop("シャープペンシル")

# 連想配列全体を取り出して表示
print(stationery_prices)

# 「鉛筆」を要素ごと削除
stationery_prices.pop("鉛筆")

# 連想配列全体を取り出して表示
print(stationery_prices)

# 「鉛筆」を要素ごと削除
stationery_prices.pop("消しゴム")

# 連想配列全体を取り出して表示
print(stationery_prices)

# 「鉛筆」を要素ごと削除
stationery_prices.pop("ボールペン")

# 連想配列全体を取り出して表示
print(stationery_prices)

{'鉛筆': 70, 'ボールペン': 120, '消しゴム': 90}
{'ボールペン': 120, '消しゴム': 90}
{'ボールペン': 120}
{}

In [ ]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# キー「name」の値を表示
print(personal_data["age"])

# 連想配列全体を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["name"] = "田中邦明"

# 連想配列全体を表示
print(personal_data)

36
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '田中邦明', 'age': 37, 'gender': '男性'}

In [ ]:
array = ["月曜日は晴れです","火曜日は雨です","水曜日は晴れです","木曜日は晴れです","金曜日は曇りです","土曜日は曇りのち雨です","日曜日は雷雨です"]

# 火曜日の天気予報を出力
print(array[2])

dictionary = { "mon": "晴れ", "tue": "雨", "wed": "晴れ", "thu": "晴れ", "fri": "曇り", "sat": "曇りのち雨", "sun": "雷雨" }

#　火曜日の天気を出力
print(dictionary["wed"])

水曜日は晴れです
晴れ

In [ ]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}

# ボールペンの価格を取り出して表示
print(stationery_prices[120])

KeyError: 120

In [ ]:
age = 18

if age < 20:
    print("お酒で乾杯！")

お酒で乾杯！

In [ ]:
print(45/13)
print(30 - 12)
print(5    *    6)
print(30 / 3)
print(45 % 8)

3.4615384615384617
18
30
10.0
5

In [ ]:
print(type(30 / 3))

<class 'float'>

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + str(50) + "％" )

降水確率50％

In [ ]:
top_edge=10
under_edge=20
height =5

area=(top_edge + under_edge) * height /2

print(f"{area}cm²")

75.0cm²

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎","5"]

# 6番目の要素を追加する
user_names.append("田中")
print(user_names)

# 3番目の要素を削除する
user_names.pop(6) # 0始まりのため、3番目のインデックスは2
print(user_names)

['侍太郎', '侍一郎', '侍二郎', '侍三郎', '侍四郎', '5', '田中']
['侍太郎', '侍一郎', '侍二郎', '侍三郎', '侍四郎', '5']

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[2]) # 2番目の要素だけを表示

user_names[2] = "侍花子" # 2番目の要素を更新
print(user_names)

user_names.append("田中") # 6番目の要素を追加
print(user_names)

user_names.pop(5) # 3番目の要素を削除（0始まりのため2を指定）
print(user_names)

侍二郎
['侍太郎', '侍一郎', '侍花子', '侍三郎', '侍四郎']
['侍太郎', '侍一郎', '侍花子', '侍三郎', '侍四郎', '田中']
['侍太郎', '侍一郎', '侍花子', '侍三郎', '侍四郎']

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス" )

# 3番目の要素を取り出す
print(country_names[0])

# すべての要素を取り出す
print(country_names)

日本
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
# 1～10までに含まれる素数のセット
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print(prime_numbers)

# セットの3番目の要素を表示 ⇒ できないためエラー
print(prime_numbers)

{2, 3, 5, 7}
{2, 3, 5, 7}

In [ ]:
# 1～10までに含まれる素数のセット
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print(prime_numbers)

prime_numbers.add(11) # 11をセットに追加
print(prime_numbers)

prime_numbers.remove(3) # セットから3を削除
print(prime_numbers)

{2, 3, 5, 7}
{2, 3, 5, 7, 11}
{2, 5, 7, 11}

In [ ]:
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print(prime_numbers)

prime_numbers.add(11) # 11をセットに追加
print(prime_numbers)

prime_numbers.remove(3) # セットから3を削除
print(prime_numbers)

{2, 3, 5, 7}
{2, 3, 5, 7, 11}
{2, 5, 7, 11}

In [ ]:
tfk_country = {"アメリカ", "イギリス", "日本", "フランス"}

# セット全体を表示
print(tfk_country)

tfk_country.add("田中") # 「ドイツ」をセットに追加
print(tfk_country)

tfk_country.remove("イギリス") # セットから「イギリス」を削除
print(tfk_country)

{'イギリス', 'フランス', '日本', 'アメリカ'}
{'フランス', 'イギリス', '日本', 'アメリカ', '田中'}
{'フランス', '日本', 'アメリカ', '田中'}

In [ ]:
# 台形の寸法
top_side = 10   # 上辺（cm）
bottom_side = 20  # 下辺（cm）
height = 5      # 高さ（cm）

# 台形の面積 =（上辺＋下辺）× 高さ ÷ 2
area = (top_side + bottom_side) * height / 2

# 結果を出力
print(f"{area}cm²")

75.0cm²